.login-container-form {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgb(51, 51, 51);
    color: #ff9900;
    font-family: 'Montserrat', sans-serif;
    max-width: auto;

    h3{
        color: #ff9900;
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;
      background-color: rgb(51, 51, 51);
  
      input {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 0.25rem;
        background-color: #2b2b2b;
        color: #fff;
        font-size: 1rem;
        width: 80%;
        transition: all 0.2s ease-in-out;
  
        &:focus {
          outline: none;
          box-shadow: 0 0 0 2px #ff9900;
        }
      }

      .username.error{
        color: red;
        box-shadow: 0 0 0 2px red;
      }

      .password.error{
        color: red;
        box-shadow: 0 0 0 2px red;
      }

      .error{
        color: red;
        font-size: 0.8rem;
        padding-bottom: 1rem;
      }
  
      button[type="submit"] {
        position: relative;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        background-color: #ff9900;
        color: #1a1a1a;
        font-size: 1rem;
        bottom: 0.7rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
  
        &:hover {
          background-color: #e68a00;
        }
      }
    }
  
    a {
      margin-top: 1rem;
      color: #ff9900;
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        color: #e68a00;
      }
    }
  }
  
  @media (max-width: 800px) {
    .login-container-form {
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: #0f0e0e;
      color: #ff9900;
      font-family: 'Montserrat', sans-serif;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;

      h3{
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }

    form{
        width: 100%;
    }
    }
  }