@import '../Homepage/HomepageVariables.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

.box-container {
  display: grid;
  margin: 1% 5% 0 5%;
  grid-template-columns: 0.8fr 2fr 0.8fr;
  grid-gap: 1rem;
  grid-auto-rows: minmax(10%, auto);
}
.box-1 {
  grid-row: 1;
  grid-column: 1;
  background-color: $box_background;
  text-align: center;

  .box-title{
    position: relative;
    top: 10%;
  }
}

.box-2 {
  grid-row: 1;
  grid-column: 3;
  background-color: $box_background;
  text-align: center;

  .box-title{
    position: relative;
    top: 10%
  }
}

.box-3 {
  grid-row: 2;
  grid-column: 2;
  background-color: $box_background;
  text-align: center;

  .box-title{
    position: relative;
    top: 10%
  }
}

.box-4 {
  grid-row: 3;
  grid-column: 1;
  background-color: $box_background;
  text-align: center;

  .box-title{
    position: relative;
    top: 10%
  }
}

.box-5 {
  grid-row: 3;
  grid-column: 3;
  background-color: $box_background;
  text-align: center;

  .box-title{
    position: relative;
    top: 10%
  }
}

@media (max-width: 800px) {
  .box-container{
    display: flex;
    flex-direction: column;
    margin: 1% 5% 0 5%;
  }
}