.sessionAddForm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    width: 100%;

    label {
      display: block;
      margin-bottom: 10px;
      color: rgb(255, 94, 0);
    }

    input[type="text"] {
      width: 95%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 15px;
    }

    button[name="sessionAddSubmit"] {
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: orange;
      color: rgb(255, 94, 0);
      font-weight: bold;
      cursor: pointer;
    }

    button.close{
      position: relative;
      left: 95%;
      color: rgb(255, 94, 0);
      background-color: transparent;
      border: none;
      font-size: 18px;

      &:hover{
        color:rgba(255, 255, 255, 0.5)
      }
    }
}