@media (min-width: 801px) {
    nav {
        position: relative;
        display: flex;
        flex-direction: row;
        min-height: 60px;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        background: radial-gradient(ellipse at center bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        top: 0;
        z-index: 1;
    
        a {
            color: #FFF;
            text-decoration: none;
        }
        button {
            cursor: pointer;
            background: transparent;;
            border: none;
            font-size: 20px;
            margin-right: 1.5%;
            margin-top: 1.5%;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    
        .logo {
            position: absolute;
            top: 25%;
            left: 15px;
            max-width: 40%;
            display: inline-block;
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            color: #ffa600;
            margin: auto auto auto auto;
        }

        .hamburger {
            display: none;
        }

        .nav-container {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
    
        .navbar-section {
            position: absolute;
            display: flex;
            top: 35%;
            left: 350px;
            width: 60%;
            margin-top: 5px;

            ul {
                margin-top: auto;
                display: flex;
                flex-direction: row;
            }

            li {
                margin: 0 10px;
            }
        
            a {
                color: #FFF;
                text-decoration: none;
            }
            a:hover {
                color: #ffa600;
            }
        }
        .menu {
            display: none;
        }
    
        .menu.close {
            display: none;
        }
        .usercontrol
        {
            display: sticky;
            top: 15%;
            background-color: transparent;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: auto;
            height: auto;
            button{
                color:white
            }
            button:hover{
                color: #ffa600;
            }
        }

        
    
        .Logout {
            top: 15%;
            background-color: transparent;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 10%;
            height: auto;
            button{
                color:white
            }
            button:hover{
                color: #ffa600;
            }
        }
    }

    .signup-form-overlay {
        position: absolute;
        top: 30vh;
        left: 45vw;
        width: auto;
        right: 0;
        z-index: 1;
        opacity: 0;
        transform-origin: top right;
        transform: scale(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        
        &.active {
            opacity: 1;
            transform-origin: top right;
            transform: scale(1);
        }
    }

    .login-form-overlay {
        position: absolute;
        top: 60px;
        width: 16.5vh;
        right: 0;
        z-index: 1;
        opacity: 0;
        transform-origin: top right;
        transform: scale(0);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    
        &.active {
            opacity: 1;
            transform-origin: top right;
            transform: scale(1);
            transition-delay: 0.3s,
            opacity 0.3s ease-in-out;
        }
    }
}

@media (max-width: 800px) {
    nav {
        position: sticky;
        width: 100%;
        background: rgb(0, 0, 0);
        background: radial-gradient(ellipse at center bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        display: flex;
        flex-direction: column;
        min-height: 30px;
        top: 0;
        z-index: 1;
        
        a {
            color: #FFF;
            text-decoration: none;
        }
        button {
            cursor: pointer;
            background: transparent;;
            border: none;
            font-size: 20px;
            margin-right: 1.5%;
            margin-top: 1.5%;
          }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-height: 0px;
            overflow: hidden;
            transition: max-height .6s ease-in-out;
          
            &.active {
              max-height: 500px;

              .Logout {
                color: white;
                width: 100%;
            
                button {
                  width: 100%;
                  height: 100%;
                  color: white;
                  justify-content: left;
                  background: transparent;
                  border: none;
                  text-align: left;
                }
              }
          
              .Login {
                  color: white;
                  width: 100%;
              
                  button {
                    width: 100%;
                    height: 100%;
                    color: white;
                    justify-content: left;
                    background: transparent;
                    border: none;
                    text-align: left;
                  }
                }
            }
            }
          
            
        
        .logo {
            display: inline-block;
            justify-content: center;
            align-items: center;
            max-width: 90%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            color: #ffa600;
            position: absolute;
            z-index: 1;
        }
        
        .hamburger {
            position: absolute;
            display: block;
            right: 0;
            width: 30px;
            height: 20px;
            cursor: pointer;
            user-select: none;
        
            .meat {
                border-radius: 2px;
                left: 0;
                width: 100%;
                position: absolute;
                height: 3px;
                background: #FFF;
                display: block;
                transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
        
                &:first-child {
                    top: 0;
                }
        
                &:nth-child(2),
                &:nth-child(3) {
                    top: 50%;
                    transform: translateY(-50%);
                }
        
                &:last-child {
                    bottom: 0;
                }
            }
        }

        .menu li {
            font-weight: 500;
            cursor: pointer;
            position: relative;
        
            a:hover {
                background: #1E86D7;
            }
        
            a,
            span {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 10px 20px;
                justify-content: space-between;
            }
        
            span img {
                transition: transform .3s ease-in-out;
            }
        
            span.toggled {
                img {
                    transform: rotate(180deg);
                }
            }
        }
        .navbar-left {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
        .navbar-right {
            display: flex;
            flex-direction: column;
            align-items: left;
        }
    }
    
    .login-form-overlay
    {
        position: fixed;
        top: 5%;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}