.history-table-container
{
    width: 80%;
    margin: 4% 10% 0 10%;
    border-radius: 0.375rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

.sessionAdd  button{
    width: 30%;
    margin: 1% 35% 0 35%;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 94, 0);
    border-radius: 0.375rem;
    text-align: center;
    overflow: auto;
    display: block;
    height: auto;
    font-size: 1.5rem;
}



@media (max-width: 768px) {
    .button {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
      }
}
@media (max-width: 576px) {
    .button {
      font-size: 0.8rem;
      padding: 0.3rem 0.8rem;
    }
  }